version: '3.8'

services:
  frontend:
    build: ./web
    container_name: kn1ghts-web
    volumes:
      - certbot-www:/var/www/certbot
      - letsencrypt:/etc/letsencrypt
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443

  certbot:
    image: certbot/certbot
    container_name: kn1ghts_certbot
    volumes:
      - certbot-www:/var/www/certbot
      - letsencrypt:/etc/letsencrypt
    entrypoint: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew;
        sleep 12h;
      done"

volumes:
  certbot-www:
  letsencrypt: